body {
    color: white;
    background: black;
    margin: 0 8px;
    /* font-size: 18px; */
    font-size: 1.125em; /* 18px */
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
}

/* *************************************** */

a {
    text-decoration: none;
    font-size: 1.36em;
    color: #FF4500;
    font-family: Impact, 'Oswald', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    color: #FDD017;
    font-family: Impact, 'Oswald', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.85em;
    margin: 0.7em 0 1.4em;
}

h2 {
    color: #FFB90F;
    font-size: 1.3em;
    margin-top: 2em;
    margin-bottom: 2em;
}

h3 {
    margin-top: 2.3em;
}

img {
    /* black magickz to make image scale down when screen width is less than
       image's width */
    max-width: 100%;
    height: auto;
}

img.bordered {
    border: solid 0.1111em; /* 2px */
    border-color: inherit;
    margin-left: -0.1111em;
}

p {
    margin-top: 1.25em;
    margin-bottom: 1.1em;
    line-height: 117%;
}

/********* generic render styles *******/
/* one centered column of text */
.mono-column {
    max-width: 43.333em; /* 780px */
    margin-left: auto;
    margin-right: auto;
}

/* flex containers */
.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2.4em;
}

/* flex items */
.flex-container > figure,
.flex-container > li
{
    max-width: 547px; /* defaults to images on missions pages - bc why not? */
    margin-bottom: 2em;
}

/* iPhone 6-8 Plus */
@media (max-width: 414px) {
    /****** navigation ****** */
    /* header a#header-logo img { padding: 0; } */
    /* pronounce it */
    /* nav ul li:first-child { min-width: 100%; margin: 0; } */
    /* spacing */
    /* nav ul li { padding: 0; margin: 0.25em 0; min-width: 25%; } */

    /*** page: weapons ****/
    div#weapons figure { min-width: 50%; }

    /*** page: music ****/
    /*iframe[name=mus_subpage] { height: 700px; }

    body.subpage img.left {
        margin: 0 auto;
        display: block;
        float: none;
        max-width: 100%;
        width: auto;
        max-height: 400px;
    }*/
}

/* iPhone 6-8 */
@media (max-width: 375px) {

    /*** page: weapons ****/
    article { overflow: hidden; }
    div#moves { width: 345px; }

    /*** page: music ****/
    /*article#article-music ul.flex-container li {
        min-width: 30%;
        margin-bottom: 0.25em;
    }*/
}

@media (max-width: 320px), (max-height: 320px) {
    /* scaling for hand held */
    body { font-size: 0.9em; }
    /* banner */
    /* header a#header-logo img {
        padding: 0;
        min-width: unset;
        max-height: 5em;
        width: auto;
    } */
}

/* iPhone 5 */
@media (max-width: 320px) {

    /****** navigation ****** */
    /* banner */
    /* header a#header-logo img { min-width: unset; } */
    /* pronounce it */
    /* nav ul li:first-child { min-width: 100%; margin: 0; } */
    /* spacing */
    /* nav ul li { padding: 0; margin: 0.25em 0; min-width: 25%; } */

    /*** page: weapons ****/
    div#weapons figure { min-width: 50%; }
    div#moves { margin-left: -20px; }

    /*** page: music ****/
    /*article#article-music ul.flex-container li { margin-bottom: 0.5em; }
    iframe[name=mus_subpage] { height: 650px; }
    */
}
